$primary-color: #4458dc;
$primary-color2: #854fee;
$my-bg: #ffc300;
$my-title: rgb(15, 23, 74);
$title-color: #141313;
$text-color: #777777;
$border-color: #201f1f17;
$gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
$overlay-color: rgba(24, 39, 51, 0.85);
$menu-speed: 0.75s;
