nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;

  & li.nav-brand {
    list-style: none;

    .nav-brand-link {
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
  }

  & .nav-links {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    list-style: none;
    & .nav-link {
      text-decoration: none;
      color: black;
      margin: 0.5rem;
    }
  }
}

.menu-wrap {
  display: none;
}
div#mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  #home {
    & .nav-links {
      display: none;
    }
  }
  nav .nav-brand a h1 {
    font-size: 1.5rem;
  }
  // New Navbar
  div#mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
   // z-index: 2;

    & .hamburger-wrapper {
      position: absolute;
      top: 0rem;
      right: 0.3rem;
      height: 12vh;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      & .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 0.35rem;

        height: 45px;
        width: 45px;
        border-radius: 50%;

        background-color: rgba($my-title, 0.4);
        & .line {
          width: 27px;
          height: 3px;
          background-color: #fff;
          margin: 3.5px;

          &:nth-child(2) {
            align-self: flex-end;
            width: 22px;
          }
        }
      }
    }
    & .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      height: 100vh;
      width: 100vw;
      background: #5b78c7;
      clip-path: circle(100px at 115% -13%);
      transition: 1s all ease-out;
      & li {
        margin: 1rem 0;
        opacity: 0;
        & a {
          color: #fff;
          text-decoration: none;
          font-size: 1.5rem;
        }
      }

      &.open {
        clip-path: circle(200vh at 90% -15%);
      }
      & li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      & li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      & li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      & li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
      }
      li.fade {
        opacity: 1;
      }
    }
  }
}
